.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 588px;
    z-index: -10;
}

/* Левый хедер */

.header__left {
    position:    absolute;    
    top: 0;
    left: 0;
}

.header__left > img {
    width: 800px;
    height: auto;
    object-fit: cover;
}

/* Правый хедер */

.header__right {
    position: absolute;
    right: 0;    
    top: 0;
    transform: scale(-1,1);
}

.header__right > img {
    width: 800px;
    height: auto;
    object-fit: cover;
}


.visible .header__center {
    transform: translateY(0%);
}

.hidden .header__center {
    transform: translateY(-100%);
}

@media screen and (max-width: 1800px) {
    .header__left-img {
        width: 700px;
    }
    .header__right-img {
        width: 700px;
    }

    .header_title {
        font-size: 35px;
        padding-bottom: 50px;
    }

}

@media screen and (max-width: 1400px) {
    .header__left-img {
        width: 600px;
    }
    .header__right-img {
        width: 600px;
    }

    .header_title {
        font-size: 35px;
        transform: translateY(-50%);
    }

}

@media screen and (max-width: 1264px) {
    .header__left-img {
        width: 500px;
    }
    .header__right-img {
        width: 500px;
    }

    .header_title {
        font-size: 30px;
        transform: translateY(-125%);
    }
}

@media screen and (max-width: 1045px) {
    .header__left-img {
        width: 400px;
    }
    .header__right-img {
        width: 400px;
    }

    .header_title {
        font-size: 30px;
        transform: translateY(-180%);
    }
}

@media screen and (max-width: 923px) {
    .header__left-img {
        width: 300px;
    }
    .header__right-img {
        width: 300px;
    }

    .header_title {
        font-size: 25px;
        transform: translateY(-250%);
    }
}

@media screen and (max-width: 749px) {
    .header__left-img {
        width: 300px;
    }
    .header__right-img {
        width: 300px;
    }

    .header_title {
        font-size: 25px;
        transform: translateY(-250%);
    }
}

@media screen and (max-width: 425px) {
    .header__left-img {
        width: 150px;
    }
    .header__right-img {
        width: 150px;
    }

    .header_title {
        font-size: 15px;
        transform: translateY(-400%);
    }
}

@media screen and (max-width: 375px) {
    .header__left-img {
        width: 125px;
    }
    .header__right-img {
        width: 125px;
    }

    .header_title {
        font-size: 15px;
        transform: translateY(-430%);
    }
}

@media screen and (max-width: 320px) {
    .header__left-img {
        width: 150px;
    }
    .header__right-img {
        width: 150px;
    }

    .header_title {
        font-size: 15px;
        transform: translateY(-350%);
    }
}




